
.news-header-dark{
    background-color: black !important;
    color: white !important;
}
.news-header-light{
    background-color: white !important;
    color: black !important;
}
.tab a{
    background-color: transparent !important;
}

.active:hover{
    background-color: transparent;
    color: transparent !important;
}

.news-info{
    padding: 10px 20px 600px;
    font-style: italic;
}
